<!DOCTYPE html>
<style>

    body {
      text-align: center;
      background-image:url("http://all4desktop.com/data_images/original/4238689-nature-background.jpg");
      
      background-size: cover;

      background-position: center;
      color: white;
      font-family: helvetica;
    }




h1 { 
font-size: 85px;
text-align: center;
color: white;
}

p {
font-size: 20px;
padding: 20px;
color: black;
margin: 0 auto;
background: white;
opacity: 0.7;

}

nav {
font-size: 15px;
padding: 20px;
margin: 0 auto;
background: white;
opacity: 0.7;
background-position: center;
}
</style>

<body>
<div class="wrapper">
<h1>About Me</h1>

<div class="container">
	<p> Hi! My name is Samuel Huang. I'm 28 years old, I live in San Francisco, and I enjoy 
		watching our bay area sports teams, the Giants, the 49ers, and the Golden State Warriors!
	<br>	
		I have always thought that I would become a web developer when I was young. I’ve 
		experienced the transition from 56k to cable/dsl to having wireless in every house house 
		to being always connected to the web. However, life took me on a different path. I got 
		into a sales at a young age and kept at it. By the time I went to college, I’ve decided to 
		study business and graduated San Francisco State University with a bachelor's degree in 
		International Business in 2011.
	<br>
		Fast forward 15 years late, it’s now 2016. I have gone through 2 sales job, 4 years with 
		Honda and 1 year at BMW, and I am currently working at Lending Club as a debt collector. I 
		feel like if there was a time to make a change in my life, now would be the best time and 
		here are the reasons why:
	<br>
		I want to do something that challenges me. When I took the job at Lending Club, it was 
		more so to get out the of car business, so I took the first available job. Now that I’ve
		been here for a year and half, this job has become insanely routine and I'm ready for a 
		change.
	<br>	
 		Second, my wife is planning to open a restaurant soon and if all goes well, the time when 
 		I complete this Web Development Immersive course would be the same time as when my 
 		restaurant will open and I want to build a web page or app that’ll allow our customers 
 		order before hand and pick up at a specific time. 
 	<br>	
		Third, my son was born this past August, and I want to give him the best future possible. 
		By learning to code, I hope to find a more stable career, where I can take care of him
		financially, and most importantly, I want to be able to teach him to code. The world is 
		evolving rapidly and I the more knowledge I can pass onto him, the better chances for him 
		to succeed.
	<br>	
	<br>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  	<%= link_to("Home", {:action => 'index'}) %>
	<br>
	<%= link_to("Contact", {:action => 'contact'}) %>
  </div>
</nav>
	
	
	</p>


</div>
</div>

</body>


