<style>
    body {
      text-align: center;
      background-image:url("http://all4desktop.com/data_images/original/4238689-nature-background.jpg");
      
      background-size: cover;

      background-position: center;
      color: black;
      font-family: helvetica;
    }

    h1 {
    color: white;	

    }

    h2 {
    	text-align: center;
    	color: black;
    }
    img {
margin: 40px 0px 0px 0px;
border: 7px solid white;
border-radius: 20px;
}
</style>    

<!DOCTYPE html>
<body>
	
	<h1>Hey There!</h1>
	<div class="container"


	<a href="http://imgur.com/5fKnnah"><img src="http://i.imgur.com/5fKnnah.jpg?2" title="source: imgur.com" /></a>

	</div>

	<h2>
<br>
<%= link_to("About Me", {:action => 'about'}) %>
<br>
<%= link_to("Contact", {:action => 'contact'}) %>
</h2>


</body>